/*清除默认样式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,dl,dt,dd,table,tr,td,input{ margin:0;padding:0;}
img{ border:none;}
body { font-size:12px; font-family:"微软雅黑",Tahoma, Helvetica, Arial, simsun; }
em{ font-style: normal;}
li{list-style: none;}
a{ outline: none;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.bottom{overflow: visible;}

/*按钮类*/
.btn{ display: inline-block; zoom:1; text-decoration: none; line-height: 1.4;padding: 2px 5px; border-radius: 4px; background: no-repeat; border: 1px solid #fff;  cursor:pointer; vertical-align:middle; font-size: 12px;}
/*按钮预定义样式*/
.btn-searsh{ background: #ffa734; color: #fff;border-color:#fda251;}
.btn-searsh:hover{ background:#f46e1d;border-color:#fca353;}
.btn-confirm{ background: #6cbcf2; color: #fff;border-color:#78b8ee;}
.btn-confirm:hover{ background:#3e98d4;border-color:#55a5e4;}
.btn-clear{ background: #fefefe; border-color:#dbdbdb; color: #333;}
.btn-clear:hover{ background: #ebebeb; border-color:#d8d8d8;}
.btn-radius{ border-radius: 0px;}
.z-empty{width: 48px; height: 24px; line-height: 24px; border:1px solid #d1d5d9; font-size: 12px; display: inline-block; border-radius: 2px; text-decoration: none;}
.z-empty-normal{ background: #f3f3f3; color: #505050; }
.z-empty-hover,.z-empty-normal:hover{ background: #fff; color: #505050;}
.z-empty-disable{ background: #f3f3f3; color: #b1b1b1; cursor: no-drop;}
.z-define{width: 48px; height: 24px; line-height: 24px; border:1px solid #2a3641; font-size: 12px; display: inline-block; border-radius: 2px; text-decoration: none;}
.z-define-normal{ background: #475a6c; color: #fff; }
.z-define-hover,.z-define-normal:hover{ background: #4476a6; color: #fff;}
.z-define-disable{ background: #919496; color: #cdcdcd; border-color:#305981; cursor: no-drop;}

.z-buy {width: 48px; height: 24px; line-height: 24px; font-size: 12px; display: inline-block; border-radius: 2px; text-decoration: none;}
.z-buy-normal{ background: #ff6f10; color: #fff; }
.z-buy-hover,.z-buy-normal:hover{ background: #ff4700; color: #fff;}
.z-buy-disable{ background: #bebebe; color: #fff; cursor: no-drop;}
.z-close {line-height: 24px; font-size: 12px; display: inline-block; border-radius: 2px; text-decoration: none; width: 18px; line-height: 18px;vertical-align: middle; }
.z-close-normal{ background: #ff6f10; color: #fff; }
.z-close-hover,.z-close-normal:hover{ background: #ff4700; color: #fff;}
.z_close_ico{ background: url(../images/ico.png) no-repeat  -170px 0px; width: 8px; height: 8px; display: inline-block; zoom: 1; line-height: 8px;}

.z-add {line-height: 24px; font-size: 12px; display: inline-block; border-radius: 2px; text-decoration: none; width: 18px; line-height: 18px;vertical-align: middle; }
.z-add-normal{ background: #a5a8aa; color: #fff; }
.z-add-hover,.z-add-normal:hover{ background: #545e67; color: #fff;}
.z-add-disable{ background: #cfd0d1; color: #fff; cursor: no-drop;}
.z-add-ico{ background: url(../images/ico.png) no-repeat  -159px 0px; width: 8px; height: 8px; display: inline-block; zoom: 1; line-height: 8px;}


/*分页*/
.page{ overflow: hidden; text-align: center; padding:10px 0;font-size:12px;}
.page span,.page input,.page strong,.page a{ display: inline-block; margin: 0 1px;}
.page .btn-clear{ padding: 4px 8px; color:#3498db;}
.page .btn:hover{ text-decoration: underline;}

.page strong{ color: #ffc600; padding: 0px 4px; font-size: 14px}
.page .text{ width:30px; height: 22px; border: 1px solid #ccc;vertical-align: middle; text-align: center;}

/*面包屑导航*/
.breadcrumbs{ height: 24px; line-height: 24px; font-size: 12px;}
.breadcrumbs span{ display: inline-block;}
.breadcrumbs a{ color: #3498db; text-decoration: none;}

/*隔行换色*/

/*tab切换*/
.tabs p{ margin-bottom: 0px;}
.tabs p a{ float: left; padding: 0 10px; font-weight: bold; color: #2587c9; height: 24px; line-height: 24px; border-radius: 5px 5px 0px 0px ;text-decoration: none; position: relative;top:1px;}
.tabs p a.active{border:1px solid #2587c9; border-bottom-color:#fff; }
.tabs .tab-center{ border:1px solid #2587c9; display: none; padding-top: 10px;}
.tabs .act{ display: block;}

/*图标*/
.ico{ height: 14px; display: inline-block; overflow: hidden; width: 14px; background: url(../images/ico.png) no-repeat left top;}

.ico-yi{background-position:-105px 0px; width: 36px;}
.ico-ke{background-position:-105px -16px;width: 36px;}
.ico-bao{background-position:0px 0px ;}
.ico-zhi{background-position:-15px 0px ;}
.ico-chen{background-position: -30px 0px;}
.ico-kun{background-position:-45px 0px ;}
.ico-piao{background-position:-60px 0px ;}
.ico-shu{background-position:-75px 0px ;}
.ico-close{background-position:-142px 0px ; width: 16px; height: 16px;}
.ico-new{ background-position:0px -15px; width: 22px; }

.z-ico{display: inline-block; overflow: hidden; background: url(../images/ico.png) no-repeat left top;vertical-align: middle;}
.z-ico-fdj{ width: 20px; height: 20px; background-position: -4px -74px;}
.z-ico-yh{width:20px; height:22px ;background-position:-60px -72px;}
.z-ico-gwc{width:24px; height:22px ;background-position:-113px -72px ;}
.z-ico-dh{width:13px; height:14px ;background-position:-191px -77px;}
.z-ico-wz{width:12px; height:13px ;background-position:-246px -78px ;}
.z-ico-xyt{width:13px; height:14px ;background-position:-299px -80px;}
.z-ico-xg{width:11px; height:14px ;background-position:-343px -80px;}
.z-ico-sj{width:16px; height:25px ;background-position:0px -96px;}
.z-ico-yx{width:22px; height:18px ;background-position:0px -124px;}
.z-ico-xl{ width: 16px; height: 17px; background-position: -62px -96px;}
.z-ico-nl{ width:59px; height:61px; background-position:0px -144px;}
.z-ico-pj{ width:59px; height:59px; background-position:-83px -144px;}
.z-ico-cx{ width:59px; height:59px; background-position:-167px -144px;}
.z-ico-jp{ width:59px; height:61px; background-position:-246px -146px;}
.z-ico-yp{ width:59px; height:61px; background-position:-327px -146px;}
.z-ico-xjp{ width:20px; height:20px; background-position:-400px -176px;}
.z-ico-xyp{ width:20px; height:20px; background-position:-442px -176px;}
.z-ico-hb{ width:38px; height:44px; background-position:0px -206px;}
.z-ico-cz{ width:49px; height:41px; background-position:-63px -206px;}
.z-ico-wh{ width:45px; height:45px; background-position:-135px -206px;}

p.pshopStatusCd{ background: url(../images/ico.png) no-repeat -237px -223px; float: left; width: 120px; height : 26px;}
p.pshopStatusCd_act{ background-position: -383px -223px;}
p.pshopStatusCd .z-sales-shop-start{ float: left; width:74px; height: 26px; cursor: default;}
p.pshopStatusCd .z-sales-shop-close{ float: left; width:46px; height: 26px;}


.popUp{ z-index: 99;}
.Alert{ width: 355px; display: none; position: absolute; z-index: 100;}
.Alert h4{ text-align: center; position: relative; height: 32px; line-height: 32px; font-family: "微软雅黑"; color: #fff; background: #2c81ba; border-radius:5px 5px  0px 0px; }
.Alert h4 span{ position: absolute; top: 9px; cursor: pointer; right: 10px;}
.Alert .A-center{ border: 1px solid #cacaca; padding: 10px 0 ; background: #fff}
.Alert .A-center p{ line-height: 30px; padding: 0 10px; font-size: 12px;}
.Alert .A-right{ text-align: right;}

.loading{ width: 300px; height: 201px; display: none;position: absolute; z-index: 100;}
p.import{ overflow: hidden;  border-radius: 3px;position: relative; line-height: 28px; padding-left: 34px; font-size: 12px; color: #666;}
p.import span{display: block; height: 17px; width: 17px; position:absolute; top: 50%; margin-top: -8px; left: 8px;}
.import-normal{background: #d0ffcc; }
.import-normal span{background: #d0ffcc url(../images/ico.png) -384px 0px no-repeat; }
.import-remind{background: #ffffc5;}
.import-remind span{background: #ffffc5 url(../images/ico.png) -384px -26px no-repeat;}
.import-warning{background: #ffffc5;}
.import-warning span{background: #ffffc5 url(../images/ico.png) -384px -48px no-repeat;}
.import-error{background: #eea1a1;}
.import-error span{background: #eea1a1 url(../images/ico.png) -384px -72px no-repeat;}

/*表单*/
.form-control{}
.form-control tr{ vertical-align:middle;}
.form-control input{vertical-align: middle;}
.form-control input.text{ height: 24px; border:1px solid #ddd; width: 240px; padding:0 10px;}
.form-control span{ display: inline-block;vertical-align: middle;}
.form-control textarea { width: 400px; border:1px solid #ddd;}


/*字体*/
.fong-h5{font-size: 12px; font-family: "宋体"; font-weight: bold;}
.fong-h4{font-size: 14px; font-family: "宋体"; font-weight: bold;}
.fong-h3{font-size: 16px; font-family: "微软雅黑"; font-weight: bold;}
.fong-h2{font-size: 22px; font-family: "微软雅黑"; font-weight: bold;}
.fong-h1{font-size: 28px; font-family: "微软雅黑"; font-weight: bold;}


/*交易大厅分页*/
.z-page{ padding-top: 20px; padding-bottom:20px;}
.z-page p{overflow: hidden;}
.z-page span{width:28px; height: 28px; float: left; line-height: 28px; text-align: center;color:#0072dd; border-radius: 1px; border: 1px solid #eff1f3; margin-left: 5px;}
.z-page a{width:28px; height: 28px; float: left; line-height: 28px; text-align: center;color:#0072dd; border-radius: 1px; border: 1px solid #eff1f3; background: #f6f6f6; text-decoration: none;color: #919191; font-size: 12px; margin-left: 5px;}
.z-page a.z-start{ background:#f6f6f6 url(../images/z_start.png) no-repeat center;}
.z-page a.z-up{ background:#f6f6f6 url(../images/z_up.png) no-repeat center;}
.z-page a.z-next{ background:#f6f6f6 url(../images/z_next.png) no-repeat center;}
.z-page a.z-end{ background:#f6f6f6 url(../images/z_end.png) no-repeat center;}

.z-nav{ height: 44px;}
.z-nav ul{}
.z-nav ul li a{ font-size: 16px;}
.z-nav ul li.nav_li{ float: left; height: 44px; line-height: 44px; font-size: 16px; color: #fff; background: url(../images/nav_bg.png) repeat-x 0 -45px; width: 130px;}
.z-nav ul li.act{background: url(../images/nav_bg.png) repeat-x 0 0px;}
.z-nav ul li.last{float: left; height: 44px; line-height: 44px; font-size: 16px; color: #fff;  background:none; width: 159px; }
.z-nav ul li.last img{ display: block;}
.z-nav ul li.first_act{float: left; height: 44px; line-height: 44px; font-size: 16px; color: #fff; background: url(../images/nav_jydt.png) no-repeat top left; width: 191px;}
.z-nav ul li.first{float: left; height: 44px; line-height: 44px; font-size: 16px; color: #fff;  background: url(../images/nav_jydt.png) no-repeat bottom left; width: 191px;}
.z-nav ul li.first_act{float: left; height: 44px; line-height: 44px; font-size: 16px; color: #fff; background: url(../images/nav_jydt.png) no-repeat top left; width: 191px;}
.z-nav ul li a.li_link{ color: #fff; text-align: center; width: 100%; display: block; text-decoration: none; height: 44px; background: url(../images/nav_bg.png) no-repeat 0 -88px;}
.z-nav ul li.first a.li_link,.z-nav ul li .last a.li_link,.z-nav ul li.first_act a.li_link{ background: none;}
.z-nav ul li.first_act .z-sort{ display: block;}
.z-nav ul li.last{ background: #34b743; border-radius: 0 2px 0px 0px; position: relative;}
.z-nav ul li.last a{ display: block; position: relative; z-index: 2;text-decoration: none; height: 44px; text-align: center; color: #fff;}
.z-nav ul li.last a:hover{ text-decoration: none; }
.z-nav ul li.last a em{background: url(../images/new_xsj.png) no-repeat; position: absolute; top: 20px; right: 26px; width: 10px; height: 6px; }
.z-nav ul li.last a span{ display: none; position: absolute; border:5px solid #f0f0f0; border-top-color:#34b743; width:0px; height: 0px; bottom: -10px; left: 75px;} 
.z-nav ul li.last div{ display: none; position:  absolute; top: 44px;z-index: 1; padding: 10px 0px; left: 0px; background: #f0f0f0; width: 159px;}
.z-nav ul li.last div p{ height: 26px; line-height: 26px; }
.z-nav ul li.last div p a{ font-size: 12px; color: #47596b; height: 26px; line-height: 26px; display: block; text-align: center;}
.z-nav ul li.last div p a:hover{ background: #bfc4c9;}
.z-nav ul li.last_act a span{ display: block; }
.z-nav ul li.last_act a em{background: url(../images/new_xsj.png) no-repeat bottom left; position: absolute; top: 20px; right: 26px; width: 10px; height: 6px; }
.z-nav ul li.last_act div{ display: block;}

.z-nav .z-sort{ display: none;}
.z-sort{ width: 191px; float: left; position: relative; z-index: 1; }
.z-sort ul.sort-list{ background: #1982e0;  }
.sort-li{ position: relative;  float: left; width: 191px; height: 69px; line-height: 38px; border-bottom: 1px solid #479be6;}
.sort-li h3{ font-weight: normal; height: 69px !important; padding-left: 22px; overflow: hidden; color: #8cc1f0; font-size: 16px;}
.sort-li h3 span{ font-family: "Tahoma"; width: 40px; float: left; font-size: 26px;}
.sort-li h3 a{  color: #fff; text-decoration: none;}
.sort-li h3 .sort-qut{ float: left;font-family: "微软雅黑"; width: 120px;}
.sort-li h3 .sort-qut strong{ height: 30px; line-height: 30px; font-weight: normal; font-size: 16px; display: block;}
.sort-li h3 .sort-qut em{ display: block; line-height: 16px; font-size: 12px;}
.z-sort li.act h3 a{ color: #007ae9;}
.z-sort li.act h3{ background: #fff; position: relative; left: 1px; padding-left: 21px;}
.z-sort li.act .show{ display: block;}
.z-sort .show{ display: none; position: absolute; left: 191px; width: 809px; background: #fff; min-height: 280px; background: #fff; top: 0px;}
.z-sort .show ul{ width: 578px; padding-top: 10px;  }
.z-sort .show ul li span ,.z-sort .show ul li em{ float: left;}
.z-sort .show ul li span { width: 72px; padding-right: 6px; text-align: right; font-size: 12px; color: #8cc1f0;}
.z-sort .show ul li em{ float: left; width: 485px;}
.z-sort .show ul li{ line-height: 30px; padding-left: 15px; margin-bottom: 10px; overflow: hidden;}
.z-sort .show ul li a{ display: inline-block;font-size: 12px; margin-right: 28px; color: #45484b; text-decoration: none;}
.z-sort .show .ad{ position: absolute; right:  0px; top: 0px; width: 230px; height: 280px; overflow: hidden;}
.z-sort .show .ad a,.z-sort .show .ad a img{ display: block;}
.z-sort .show .ad a { margin-bottom: 3px;}
.z-sort .show .ad .close{ position: absolute;  background: url(../images/ico.png) no-repeat -112px -74px; cursor: pointer; right: 15px; top: 15px;}
.z-sort .show .yy{ background: url(../images/left_yy.png) no-repeat right top; width: 809px; position: absolute; bottom: -20px; height: 20px;}

.product-list{ margin-bottom: 30px; width: 260px;}
.product-list .product-tit{ border-bottom:2px solid #939ca5; overflow: hidden; height: 32px; line-height: 32px;}
.product-list .product-tit h3{ float: left; width: 100px; height: 32px; line-height: 32px; background: url(../images/z_ico.png) no-repeat 0px -74px; text-indent: 16px; font-size: 14px; color: #fff; font-weight: normal; margin-right: 20px;}
.product-list span{ width: 56px; float: left;}
.product-list em{ width: 70px; text-align: right; padding-right:12px; float: right;}
.product-list .list{ padding-top: 1px; height: 280px; overflow: hidden; position: relative;}
.product-list .list ul{ position: absolute;width: 260px;}
.product-list .list li{ margin-top: 1px; overflow: hidden; height: 34px; background: #f7f7f7; line-height: 34px;}
.product-list .list li.act{ background: #fff;}
.product-list .list li a{ float: left; width: 120px; text-indent: 16px; color: #2590f7; font-size: 14px; text-decoration: none;}
.product-list .list li a:hover{ text-decoration:underline;}
.product-list .list li strong{ font-weight: normal; float: left; width: 120px; text-indent: 16px; color: #2590f7; font-size: 14px; text-decoration: none;}

.product-list .list span{ color: #474747;}
.product-list .list em{ color: #949494;}